@use '../../../styles/mixins/media.mixin.scss' as *;
@use '../../../styles/mixins/mat-fields.mixin.scss' as formsmixins;
@use '../../../styles/mixins/nds-mixins.scss' as nds;
@use '../../../styles/variables.scss' as glob;

@include formsmixins.ng-deep-form-field-contrast-styles;
@include nds.nds-buttons;

.mat-button-disabled {
  background-color: glob.$base---warning--accent !important;
}
main {
  width: var(--contentWidth);

  @include desktop {
    --contentWidth: 60vw;
  }

  @include tablet {
    --contentWidth: 80vw;
  }

  @include mobile {
    --contentWidth: 96vw;
  }

  .mng-panel {
    padding: 5px;
    &__header {
      display: flex;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      padding: 6px;
      padding-left: 10px;

      border: 1px groove glob.$line---panel;
      border-radius: glob.$corner-radius--l;
      //padding-left: 12px;
      color: glob.$text---primary;

      @include mobile {
        font-size: 14px !important;
      }
      &__status {
        width: 100%;
        pointer-events: none; /* Чтобы клик сквозь текст открывал спойлер */
      }
      &__status_state.Connected {
        color: #0072ff;
      }
    }
    form {
      //display:flex;
      justify-content: space-between;
      margin-top: 1vh;
      margin-bottom: 1vh;

      @include mobile {
        display: grid;
      }
      .form__parameters {
        display: flex;
        gap: 12px;
      }
    }
  }
}
